@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Desktop Header */

.header-flex {
  display: flex;
  justify-content: space-around;
}

.header-shortly-flex {
  display: flex;
  align-items: center;
}

.header-shortly {
  font-size: clamp(1.4em, 0.75rem + 1.5vw, 1.6em);
  margin-right: 1rem;
}

.header-shortly-flex p {
 margin: 0 1rem;
}

.login-flex {
  display: flex;
  align-items: center;
}

.login-flex:nth-child(1) {
  padding-right: 3rem;
}

h1 {
  color: var(--veryDarkBlue);
}